img{
    width: 250px;
    height: 250px;
}
div{
    background-color: aqua;
    width: 250px;
    height: 150px;
    margin: auto ;
    display: flex;
    padding: 5px;
    border-radius: 20px;
    align-items: center;
}

p{
    font-weight: bold;
}

